<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">
  <servers>
    <server>
      <id>mom-java-maven-artifacts-mom</id>
      <username>aws</username>
      <password>${env.CODEARTIFACT_AUTH_TOKEN}</password>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>mom-java-maven-artifacts-mom</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <repositories>
        <repository>
          <id>mom-java-maven-artifacts-mom</id>
          <url>https://mom-225989338000.d.codeartifact.ap-south-1.amazonaws.com/maven/java-maven-artifacts-mom/</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>mom-java-maven-artifacts-mom</id>
          <url>https://mom-225989338000.d.codeartifact.ap-south-1.amazonaws.com/maven/java-maven-artifacts-mom/</url>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
